@model CalledThat.ViewModels.Game.ResultsViewModel

<h2>Points @Model.PlayerResults.Sum(res => res.Points) </h2>
<div class="table-responsive content2">
    <table class="table">
        <thead>
            <tr>
                <th>Home</th>
                <th>Score</th>
                <th>(Prediction)</th>
                <th>Away</th>
                <th>Double</th>
                <th>Banker</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PlayerResults)
            {
                <tr>
                    <td>@item.HomeTeam</td>
                    <td>@item.HomeScore (@item.HomeScorePick)</td>
                    <td>@item.AwayScore (@item.AwayScorePick)</td>
                    <td>@item.AwayTeam</td>
                    <td>@item.Double</td>
                    <td>@item.Banker</td>
                    <td>@item.Points</td>
                </tr>
            }
        </tbody>
    </table>
</div>

