
@{
    ViewBag.Title = "Leagues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CalledThat.ViewModels.League.ViewLeaguesViewModel


<div class="col-lg-12">
    <h1 class="page-header">Leagues</h1>
    <p class="text-muted"></p>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">My leagues</div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>League Name</th>
                            <th>Competition</th>
                            <th>Players</th>
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LeagueItems.OrderBy(l => l.LeagueName))
                        {
                            <tr class="get-action" data-url="@Url.Action("View", "League", new { item.LeagueId })">
                                <td>@item.LeagueName</td>
                                <td>@item.Competition</td>
                                <td>@item.NumberOfPlayers</td>
                                <td>@(item.LeagueOwner ? "Yes" : "No")</td>
                            </tr>
                        }                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>