
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CalledThat.ViewModels.Game.ResultsViewModel

<h1 class="page-header">Results - @Model.PlayerName</h1>
@Html.Partial("AdsenseBar")
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Gameweek results - Week <span id="gameweek-number">@Model.Gameweek</span>
            </div>
            <div class="panel-body">
                <p class="demo demo2" data-totalweeks="@Model.TotalGameweeks" data-page="@Model.Gameweek"></p>
                @Html.HiddenFor(m => m.TotalGameweeks, new { @id="totalGameWeeks" })
                <div id="results-container">
                    @Html.Partial("~/Views/Game/Partials/_GameweekResults.cshtml")
                </div>
            </div>
            <div class="panel-footer">                
            </div>           
            </div>
        </div>
    </div>
<input type="hidden" value="@Url.Action("Results","League")" id="result-url" />
@section scripts {
    <script>
        $(function () {
            var totalGameweeks = $('.demo2').data('totalweeks');
            var page = $('.demo2').data('page');
            $('.demo2').bootpag({
                total: totalGameweeks,
                page: page,
                maxVisible: 10
            }).on('page', function (event, num) {
                    $.ajax({

                        url: $('#result-url').val(),
                    data: { week: num, playerId: "@Model.PlayerId" },
                    success: function (data) {
                        $('#results-container').html(data);
                        $('#gameweek-number').html(num);
                    }
                });
            });
    });
    </script>
}