
@{
    ViewBag.Title = "View League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CalledThat.ViewModels.League.ViewSingleLeagueViewModel

<div class="col-lg-12">
    <h1 class="page-header">@Model.LeagueName</h1>
    <p class="text-muted">Join a private league by entering the invite code below</p>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">My leagues</div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Name</th>
                            <th>Gameweek Points</th>
                            <th>Total Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var postition = 1; }
                        @foreach (var item in Model.LeagueTableRows.OrderByDescending(item => item.TotalPoints))
                        {
                            <tr class="get-action" data-url="@Url.Action("Results", "Game", new { week=item.GameWeek, playerId = item.PlayerId })">
                                <td>@postition</td>
                                <td>@item.PlayerName</td>
                                <td>@item.GameweekPoints </td>
                                <td>@item.TotalPoints</td>
                            </tr>
                            postition++; 
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>