<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">You know the score</a>
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <ul class="nav navbar-nav navbar-left navbar-top-links">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home fa-fw"></i> Home</a></li>
    </ul>

    <ul class="nav navbar-right navbar-top-links">

        @if (User.Identity.IsAuthenticated)
        {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> @Session["playerName"] <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Home", "GameServiceTest")"><i class="fa fa-gear fa-fw"></i> Update</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="@Url.Action("Logoff", "Account")"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>

        }
        else
        {
            <li class="dropdown">
                <a class="dropdown-toggle" href="@Url.Action("Login", "Account")">
                    <i class="fa fa-user fa-fw"></i>Login 
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="@Url.Action("Register", "Account")">
                    <i class="fa fa-user fa-fw"></i>Register 
                </a>
            </li>
        }
    </ul>
 
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="@Url.Action("Index", "Game")" class="active"><i class="fa fa-futbol-o fa-fw"></i> Game</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("Index", "Game")"><i class="fa fa-pencil fa-fw"></i> Picks</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Results", "Game")"><i class="fa fa-pencil fa-fw"></i> Results</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Stats", "Game")"><i class="fa fa-bar-chart-o fa-fw"></i> Stats</a>
                        </li>
                    </ul>
                        

                @*<li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="flot.html">Flot Charts</a>
                        </li>
                        <li>
                            <a href="morris.html">Morris.js Charts</a>
                        </li>
                    </ul>
                </li>
                    *@
                <li>
                    <a href="@Url.Action("Index","League")"><i class="fa fa-table fa-fw"></i> Leagues</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("Join","League")">Join</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create","League")">Create</a>
                        </li>
                        <li>
                            
                            <a href="#">My Leagues<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">League 1</a>
                                </li>
                                <li>
                                    <a href="#">League 2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                @*<li>
                    <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="panels-wells.html">Panels and Wells</a>
                        </li>
                        <li>
                            <a href="buttons.html">Buttons</a>
                        </li>
                        <li>
                            <a href="notifications.html">Notifications</a>
                        </li>
                        <li>
                            <a href="typography.html">Typography</a>
                        </li>
                        <li>
                            <a href="icons.html"> Icons</a>
                        </li>
                        <li>
                            <a href="grid.html">Grid</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="blank.html">Blank Page</a>
                        </li>
                        <li>
                            <a href="login.html">Login Page</a>
                        </li>
                    </ul>
                </li>*@
            </ul>
        </div>
    </div>
</nav>
