
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CalledThat.ViewModels.Game.ResultsViewModel

<h1 class="page-header">Results - @Model.PlayerName</h1>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Gameweek results - Week <span id="gameweek-number">@Model.Gameweek</span>
            </div>
            <div class="panel-body">
                <p class="demo demo2"></p>
                <div id="results-container">
                    @Html.Partial("~/Views/Game/Partials/_GameweekResults.cshtml")
                </div>
            </div>
            <div class="panel-footer">                
            </div>           
            </div>
        </div>
    </div>
<input type="hidden" value="@Url.Action("Results","Game")" id="result-url" />
@section scripts {
    <script>
        $(function () {
            $('.demo2').bootpag({
                total: '@Model.TotalGameweeks',
                page: '@Model.Gameweek',
                maxVisible: 10
            }).on('page', function (event, num) {
                var url = $('#result-url').val();
                url = url + "/" + num + "/@Model.PlayerId";
                window.location = url
                    @*$.ajax({

                        url: $('#result-url').val(),
                    data: { week: num, playerId: "@Model.PlayerId" },
                    success: function (data) {
                        $('#results-container').html(data);
                        $('#gameweek-number').html(num);
                    }
                });*@
            });
    });
    </script>
}