
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CalledThat.ViewModels.Game.ResultsViewModel

<h1 class="page-header">Results</h1>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Gameweek results
            </div>
            <div class="panel-body">
                <p class="demo demo2"></p>
                <h2>Points @Model.PlayerResults.Sum(res => res.Points) </h2>
                <div class="table-responsive content2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Home</th>
                                <th>Score</th>
                                <th>(Prediction)</th>
                                <th>Away</th>
                                <th>Double</th>
                                <th>Banker</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PlayerResults)
                            {
                                <tr>
                                    <td>@item.HomeTeam</td>
                                    <td>@item.HomeScore (@item.HomeScorePick)</td>
                                    <td>@item.AwayScore (@item.AwayScorePick)</td>
                                    <td>@item.AwayTeam</td>
                                    <td>@item.Double</td>
                                    <td>@item.Banker</td>
                                    <td>@item.Points</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="panel-footer">
                
            </div>           

            </div>
            <!-- /.panel -->
        </div>
    </div>
<script type="text/javascript">
    $(function () {
        $('.demo2').bootpag({
            total: 23,
            page: @Model.Gameweek,
            maxVisible: 10
        }).on('page', function (event, num) {
            window.location = "/game/results/" + num;
            //$(".content2").html("Page " + num); // or some ajax content loading...
        });
    });
    
</script>